*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

body{
    background-color: #f1f5f9;
}

h1{
    background-color: #d4e3f7ee;
    height: 100px;
    width: 100%;
    font-size: 2rem;
    color: rgb(5, 5, 87);
    font-weight: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
}

main{
    margin-top: 50px;
    margin-bottom: auto;
    gap: 50px;
    padding: 60px 9% 0;
}

.text{
    padding: 30px;
    margin: 20px;
}

.text a{
    color: rgb(3, 3, 92);
    display: inline-block ;
    margin-right: 10px;
}
.img1 img{
    margin: 30px 0;
    max-width: 100%;
    height: auto;
    display: block;
    width: 800px;
 }

 
table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
    background-color: #fff;
}


th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #e6e6e6;
}

tr:nth-child(even) td {
    background-color: #f9f9f9;
}

footer{
    text-align: center;
    background-color: #1F2933;
    color: #D1D5DB;
    
}

 

 